.mantine-Modal-body {
    
background-color: black;


    
    
    
    
    // form {
    //     display: flex;
    //     justify-content: space-between;
        
        
        
        label {
            width: 160%;
            margin-top: 1%;
        }
        
        
    // }
    
}