@media (min-width: 701px){
.mobile {
    display: none;
}

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;

    .leftNav {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 50px;
    }
}







}





@media (max-width: 700px){
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        background-color: grey;
    }

    .burger {
        margin: 0;
        background-color: grey;
        img {
            padding-bottom: 5%;
            width: 20%;
            height: auto;
        }
        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        
    }
}




