.signInButton {
    position: relative;
    z-index: 1;
    width: 15vw;
    height: 5vh;
    bottom: 30vh;
    left: 15vw;
    background-color: black;
    border-radius: 15px;
    border: 1px solid white;
}

.headerImage {
    width: 100vw;
    height: 50vh;
    filter: brightness(80%);
    z-index: -1;

}

.HeaderText {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom:70vh;
    left: 60vw;
    color: white;


    h1 {
        padding: 0;
        margin: 0;
    }
}