.signInButton {
    position: relative;
    width: 15vw;
    height: 5vh;
    top: 40vh;
    left: 15vw;
    background-color: black;
    border-radius: 15px;
    border: 1px solid white;
}

.headerImage {
    width: 100vw;
    height: 50vh;
    z-index: -1;

}

.HeaderText {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 70vh;
    left: 60vw;
    color: white;


    .headerTextH1 {
        h1 {
            margin: 0;
        }

        padding: 0%;
        width: 100vw;
        margin: 0;
        padding: 1%;
        margin-right: 10%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
}

.whatWeDo {

    margin-top: 5%;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

    .boxCollection {
        display: flex;
        width: 50vw;
        height: fit-content;
        text-align: justify;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;


    }
        .boxes {
            width: 23vw;
            height: 11vh;
            margin: 2%;
            
            h2 {
                text-align: left;
                margin: 2%;
            }
            
        p {
            margin: 2%;
        }
    }

    #officeSpace {
        display: block;
        width: 30vw;
        height: 35vh;
    }
}


.aboutUsCont {

    margin-top: 5%;
    margin-bottom: 5%;
    height: 30vh;

    #handshakeImage {
        width: 100vw;
        height: 30vh;
    }

    .aboutUsText {
        position: relative;
        bottom: 25vh;
        padding: 1%;
        left: 50vw;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;


        p,
        h2 {
            width: 30vw;
        }
    }

}

.contactUsCont {
    display: flex;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .contactBoxes {
        display: flex;
        flex-direction: row;
    }

    h1 {
        text-align: center
    }

    #contactBox1 {
        background-color: grey;
        height: 40vh;
        width: 33%;
    }

    #contactBox2 {
        background-image: url('../../public/images/BoardMeeting.png');
        background-size: cover;
        height: 40vh;
        width: 34%;
    }

    #contactBox3 {
        background-color: green;
        height: 40vh;
        width: 33%;
    }


}