body {
    background-color: #BCD0CA;
}

.fc-media-screen {
    width: 100vw;
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-top: 1%;




        .addInterviewButton {
            width: fit-content;
            height: 5vh;
            background-color: black;
            border-radius: 15px;
            border: 1px solid white;
            font-size: 1em;
            align-self: flex-start;
        }

        h3 {
            align-self: flex-start;
            margin-bottom: 0;
        }
}